<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
    <h5 style="left: 450px;position: relative;font-size: 50px"><span style="color: #FA7A35">  TIC</span><span style="color: #56C6A9"> TAC  </span><span style="color: #CD212A">TOE</span></h5>

  </nb-layout-header>

  <nb-layout-column>

    <app-board></app-board>
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  <h1>😍🥳🤩</h1>
  </nb-layout-footer>

</nb-layout>
