<div style="display: flex;">

<h1 > <span style="left: 400px;position: relative;">  Current Player: {{ player }} </span>  </h1>

<button style="left: 430px;position: relative;"nbButton outline status="danger" (click)="newGame()">Start new Game</button>
</div>
<br><br>
<h2 *ngIf="winner" style="left: 370px;position: relative;">
    Hurray 🥳 Player {{ winner }} won the game!
</h2>


<main>
    <app-square 

        *ngFor="let val of squares; let i = index" 
        [value]="val"
        (click)="makeMove(i)"> 

    </app-square>
</main>



